
header{
    height: 800px;
    background-color: white;
}

nav {
    background-color: white;
    box-shadow: none;
}

nav div ul li a{
    color: black;
    font-weight: 800;
}

nav div ul li a:hover {
    background-color: white;
}

h5#title {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

hr {
    border-style: solid;
    width: 35%;
    margin-top: 10px;

}

#etiquetas {
    margin-top: 13em;
    margin-bottom: 13em;
}

#etiquetas div.col.l4:nth-child(2){
    padding: 90px 30px;
    background-color:#3fa3f5 ;
    border-radius: 1.5cm;
}

#etiquetas div.col.l4:nth-child(1){
    border-top-left-radius: 1.4cm;
    border-top-color: #00b0ff;
}

span.res{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

h4 {
    font-family: 'Lobster', cursive;
}
div#text p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

div#text p span {
    background-color: black;
}

div#text {
    text-align: center;
    margin-top: 50px;
    line-height: 26px;
}

div#contamos{
    margin-top: 10em ;
    margin-bottom: 10em ;
    background-color: #96daea;
}

div#contamos p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 5em;
    font-size: 17px;
    font-weight: 400;
    padding: 100px 55px;
}

div#contamos p span{
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    letter-spacing: 4px;
    line-height: 20px;
}

div#ubicacion{
    margin-top: 10em ;
    margin-bottom: 10em ;
}
/*

font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive
font-family: 'Lobster Two', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Scope One', serif;
font-family: 'Raleway', sans-serif;

*/



